/*
  TABEL OF CONTENTS

  * Product secion on index page
  * Login form
  * Login info on navigation
  * Shopping cart
  * Product page
  * Admin page
  * Media querys
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #ddd;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
}

main h2 {
  margin: 1rem 0 0 1rem;
  font-size: 2rem;
}

footer {
  height: 8rem;
  background-color: #bbb;
}

nav h1 {
  font-size: 2.5rem;
}

nav h1 a {
  text-decoration: none;
  color: black;
}

h3 {
  margin: 1rem;
  font-size: 1.5rem;
}

/* Product secion on index page */

#product-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 1rem;
  padding: 1rem;
}

.product {
  background-color: #ddd;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
}

.product span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.product a {
  text-decoration: none;
  color: black;
  padding: .5rem;
  border-radius: .5rem;
  background-color: #bbb;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.product h3 {
  font-size: 1.5rem;
}

.product p {
  margin: 1rem;
}

/* Login form */

#loginForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 1rem;
  border-radius: 1rem;
}

#loginForm h1 {
  margin-bottom: 1rem;
  text-align: center;
}

#loginForm :is(input, button) {
  padding: .5rem;
  font-size: 1rem;
  outline: none;
  border: none;
}

#loginForm button {
  cursor: pointer;
  background-color: #bbb;
  border-radius: 0 0 .5rem .5rem;
}

#loginForm input:first-of-type {
  border-radius: .5rem .5rem 0 0;
}

#loginForm p {
  margin-top: 1rem;
  text-align: center;
  color: red;
}

/* Login info on navigation */

#loginInfos {
  background-color: #bbb;
  padding-inline: 2rem;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

#loginInfos a {
  text-decoration: none;
  color: black;
}

#logout {
  font-size: 1rem;
}

/* Shopping cart */

#shoppingCart {
  padding: 1rem;
}

.listItem {
  padding: .5rem;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.listItem:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.listItem:nth-of-type(2n) {
  background-color: #ccc;
}

.listItem a {
  margin-bottom: .5rem;
  text-decoration: none;
  color: black;
}

.listItem span {
  font-size: 1.5rem;
}

#totalPrice {
  font-size: 2rem;
  right: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: block;
  text-align: end;
}

/* Product page */

#productDescription {
  margin: 2rem;
}

#productPrice {
  font-weight: bold;
  font-size: 3rem;
  margin-inline: 1rem;
}

#productFlex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

[name="addToCart"] {
  border: 0;
  outline: 0;
  cursor: pointer;
  font-size: 2rem;
  background-color: #bbb;
  padding: .5rem;
  border-radius: .5rem;
  margin: 1rem;
}

[name="addToCart"]:hover {
  background-color: #ddd;
}

/* Product page*/

#productList {
  margin: 1rem;
}

/* Media querys */

@media screen and (max-width: 700px) {
  #product-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  #product-section {
    grid-template-columns: repeat(1, 1fr);
  }

  nav h1 {
    font-size: 1.5rem;
  }
}